.section {
  padding: 50px 16px;
  text-align: center;
  background-color: var(--color-main-blue);
  color: var(--color-white);
}

.section h2 {
  font-size: var(--font-large);
  margin: 8px 0 16px;
}

.email {
  font-size: var(--font-medium);
}

.githubLink {
  display: inline-block;
  font-size: var(--font-medium);
  margin: 16px 0;
}

.rights {
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 40px 16px;
  }
}
